.container {
  margin: 2rem 6rem;
}

.form-group {
  /* display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column; */
}

.form-group input,
.form-group textarea {
  width: 100%;

  outline: none;
  background-color: #edf2f7;

  border-radius: 8px;
  padding: 1rem;
  font-size: 0.9rem;

  border: 2px solid #edf2f7;

  transition: all 0.2s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #3182ce;
}

.form-group label {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-group input {
  height: 2.5rem;
}

.form form {
  width: 30vw;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 992px) {
  .container {
    margin: 2rem 4rem !important;
  }
  .form form {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 2rem 2rem !important;
  }
}
