.container {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.quiz-container {
  margin-top: -1rem;
}

.number-count {
  margin-left: 0.3rem;
}
.add-button {
  background-color: #fff;
  padding: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.delete-btn {
  background-color: #fff;
  color: #ff0000;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -0.8rem;
  top: -0.6rem;
  cursor: pointer;
}
